.form{
    align-items: center;
    background: #fff;
    display: flex;
    border-bottom: thin solid rgb(200, 200, 200);
}

.input {
    align-items: baseline;
    border-width: 0px;
    display: flex;
    font-size: 18px;
    font-family: "Open-sans", sans-serif;
    padding: 12px;
    color: #444;
    font-weight: bold;
    flex: auto;
}

.enterButton {
    background-color: white;
    border-width: 0px;
    color: rgb(95, 95, 95);
    font-size: 16px;
    font-weight:bold;
    font-family: "Open-sans", sans-serif;
    cursor: pointer;
    padding: 8px 28px;
}

.enterButton:hover{
    background-color: rgb(235, 235, 235);
  }

