.enter {
    margin-top: 10px;
}

.form {
    align-items: center;
    background: #fff;
    display: flex;
    border-bottom: thin solid rgb(200, 200, 200);
}

.todoInput {
    align-items: baseline;
    border-width: 0px;
    display: flex;
    font-size: 18px;
    font-family: "Open sans", sans-serif;
    padding: 1rem;
    color: #444;
    font-weight: bold;
    flex: auto;
}

.enterButton {
    background-color: white;
    border-width: 0px;
    cursor: pointer;
    padding: 10px 28px;
}

.enterButton:hover{
    background-color: rgb(235, 235, 235);
  }