.listItem {
    max-height: 1.5rem;
    background-color: rgba(100, 140, 250, 0.2);
    margin-bottom: 0.3rem;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleDateText {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-between;
    height:10%;
    overflow: hidden;
    text-overflow: ellipsis;
}