.completeCheckBox {
  background-color: lightgray;
  border-radius: 5px;
  width: 24px;
  height: 24px;
  display: flex;
  margin-right: 1rem;
  justify-content: center;
}

.completeCheckBox:hover {
  background-color: darkgray;
  transition: background-color 0.15s;
}

.checkMark {
  width: 8px;
  height: 16px;
  background-color: rgba(0, 0, 0, 0);
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}
