.app {
    padding: 30px;

}

.button {
    background-color: rgb(238, 235, 235);
    border-width: 0px; 
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(97, 95, 95);
    font-size: 16px;
    border-radius: 6px;
    padding: 6px 10px 6px 10px;
    display: inline-table;
    cursor: pointer;
    margin-right: 1px;
}

.button:hover {
    background-color: rgba(204, 203, 203, 0.867);
}

.enterButton {
    background-color:rgb(238, 235, 235);
    border-width: 0px;
    color: rgb(97, 95, 95);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px 10px 6px 10px;
    display: inline-table;
    cursor: pointer;
    width:15%;
}

.enterButton:hover{
    background-color: rgba(204, 203, 203, 0.867);
}

.input {
    align-items: baseline;
    border-width: 1px;
    display: flex;
    color: rgb(97, 95, 95);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 10px;
    width: 85%;
}

.form{
    align-items: center;
    background: #fff;
    display: flex;
}

.todo-list {
    background: #e8e8e8;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    max-width: 30%;
}

.todo {
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 3px 10px;
    color: rgb(97, 95, 95);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
