.accordionDiv {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  flex-direction: row;
}

.accordion:hover,
.true {
  background-color: rgb(240, 240, 240);
  transition: background-color 0.3s ease;
}

.accordionTitle {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.accordionContent {
  background-color: white;
  overflow-y: scroll;
  max-height: 0px;
  transition: max-height 0.3s ease;
}

.accordionText {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 18px;
}
