.accordionDiv {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.accordion:hover,
.true {
  background-color: rgb(240, 240, 240);
  transition: background-color 0.15s ease;
}

.accordionTitle {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  position: relative;
  transform: translateY(30%);
}

.accordionContent {
  background-color: white;
  overflow-y: hidden;
  max-height: 0px;
  transition: max-height 0.15s ease;
}

.chevron {
  flex: auto; 
  display: flex;
  justify-content: flex-end;
}

.removeButton {
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
}